<visicutPreferences>
  <defaultMapping>schneide rot, markierte gruen, ignoriere blau, graviere Rest</defaultMapping>
  <disableSandbox>false</disableSandbox>
  <useFilenamesForJobs>true</useFilenamesForJobs>
  <labName>Fab Lab Region N?rnberg e.V.</labName>
  <enableQRCodes>false</enableQRCodes>
  <fastQRCodes>false</fastQRCodes>
  <fabqrActive>false</fabqrActive>
  <windowBounds>
    <x>226</x>
    <y>0</y>
    <width>1139</width>
    <height>873</height>
  </windowBounds>
  <useThicknessAsFocusOffset>false</useThicknessAsFocusOffset>
  <recentFiles>
    <string>/home/testy/.visicut/examples/red-circle-30mm.svg</string>
    <string>/home/testy/.visicut/examples/FabLabNbg/logo-mark.svg</string>
    <string>/tmp/ink_ext_XXXXXX.svg9II4FZ.svg</string>
    <string>/tmp/ink_ext_XXXXXX.svg82T0EZ.svg</string>
    <string>/tmp/ink_ext_XXXXXX.svgS98JDZ.svg</string>
  </recentFiles>
  <lastMaterial>SperrHolz Birke</lastMaterial>
  <lastLaserDevice>ThunderLaser_Nova35_FabLabNbg 20180323</lastLaserDevice>
  <availableImporters/>
  <editSettingsBeforeExecuting>false</editSettingsBeforeExecuting>
  <laserCutterTags>lasercutter, lasercut, laser cutter, laser cut</laserCutterTags>
  <supportedExtensions>svg, plf, dxf, eps, gcode</supportedExtensions>
</visicutPreferences>