<visicutPreferences>
  <defaultMapping>cut everything</defaultMapping>
  <disableSandbox>false</disableSandbox>
  <useFilenamesForJobs>true</useFilenamesForJobs>
  <labName>Fab Lab Region Nürnberg e.V.</labName>
  <enableQRCodes>false</enableQRCodes>
  <fastQRCodes>false</fastQRCodes>
  <fabqrActive>false</fabqrActive>
  <windowBounds>
    <x>457</x>
    <y>0</y>
    <width>1143</width>
    <height>595</height>
  </windowBounds>
  <useThicknessAsFocusOffset>false</useThicknessAsFocusOffset>
  <recentFiles>
    <string>/home/juewei/programmheft-logo.plf</string>
    <string>/home/juewei/.visicut/examples/FabLabNbg/logo-mark.svg</string>
    <string>/home/juewei/.visicut/examples/fablab-schluesselanhaenger.plf</string>
    <string>/home/juewei/.visicut/examples/box-6x3x3-on-3mm.svg</string>
    <string>/home/juewei/rect_300_50mm.svg</string>
  </recentFiles>
  <lastMaterial>MDF</lastMaterial>
  <lastLaserDevice>Epilog_Zing_FabLabNbg</lastLaserDevice>
  <availableImporters/>
  <editSettingsBeforeExecuting>false</editSettingsBeforeExecuting>
  <laserCutterTags>lasercutter, lasercut, laser cutter, laser cut</laserCutterTags>
  <supportedExtensions>svg, plf, dxf, eps, gcode</supportedExtensions>
</visicutPreferences>