<visicutPreferences>
  <defaultMapping>cut everything</defaultMapping>
  <disableSandbox>false</disableSandbox>
  <useFilenamesForJobs>true</useFilenamesForJobs>
  <labName>Fab Lab Region Nürnberg e.V.</labName>
  <enableQRCodes>false</enableQRCodes>
  <fastQRCodes>false</fastQRCodes>
  <fabqrActive>false</fabqrActive>
  <windowBounds>
    <x>20</x>
    <y>0</y>
    <width>1139</width>
    <height>805</height>
  </windowBounds>
  <useThicknessAsFocusOffset>false</useThicknessAsFocusOffset>
  <recentFiles>
    <string>/tmp/ink_ext_XXXXXX.svg2614BY.svg</string>
    <string>/tmp/ink_ext_XXXXXX.svg0P5OBY.svg</string>
    <string>/tmp/ink_ext_XXXXXX.svg8VGLBY.svg</string>
    <string>/tmp/ink_ext_XXXXXX.svgH9T1BY.svg</string>
    <string>/tmp/ink_ext_XXXXXX.svg3L6LBY.svg</string>
  </recentFiles>
  <lastMaterial>MDF (nicht verwenden!)</lastMaterial>
  <lastLaserDevice>Epilog_Zing_FabLabNbg</lastLaserDevice>
  <availableImporters/>
  <editSettingsBeforeExecuting>false</editSettingsBeforeExecuting>
  <laserCutterTags>lasercutter, lasercut, laser cutter, laser cut</laserCutterTags>
  <supportedExtensions>svg, plf, dxf, eps, gcode</supportedExtensions>
</visicutPreferences>